<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo">
        <a routerLink="home">{{_infoPagina.info.titulo}}<sub><i class="fa-brands fa-reddit-alien"></i></sub></a>
      </h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li routerLinkActive="active" class="rk-menu__item"><a routerLink="catalogo" class="rk-menu__link">Catalogo</a>
            <nav class="rk-menu__sub">
              <ul class="rk-container">
                <li class="rk-menu__item"><a routerLink="mujer" class="rk-menu__link">Mujer</a></li>
                <li class="rk-menu__item"><a routerLink="hombre" class="rk-menu__link">Hombre</a></li>
              </ul>
            </nav>
          </li>
          <li routerLinkActive="active"  class="rk-menu__item">
            <a  routerLink="about" class="rk-menu__link">Nosotros</a>
          </li>
          <li routerLinkActive="active"  class="rk-menu__item">
            <a  routerLink="contacto" class="rk-menu__link">Contacto</a>
          </li>
          <li routerLinkActive="active"  class="rk-menu__item">
            <a routerLink="iniciarSesion" (click)="IniciarSession()" class="rk-menu__link"><i class="fa-solid fa-user-large"></i> Iniciar Sesion</a>
          </li>
        </ul>
        <div class="rk-search">
          <input type="text"
                 placeholder="Buscar..."
                 id="urku-search"
                 class="rk-search-field"
                 #txtBuscar>
          <label for="urku-search">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-search"></use>
            </svg>
          </label>
        </div>
      </nav>
    </div>
</header>
