<body>
    <div class="box">
        <div class="welcome">
            <h1>WELCOME BACK</h1>
        </div>
        <div class="formulario">
          <div class="login-box">
            <h2>Login</h2>
            <form>
              <div class="user-box">
                <input type="email"  name="" matInput [formControl]="emailFormControl" required="">
                <label>Email</label>
              </div>
              <div class="user-box">
                <input type="password" name="" required="">
                <label>Password</label>
              </div>
              <div class="register">
                <h5>Aun no tienes cuenta? <button (click)="Registar()"> Registrate</button></h5>
              </div>
              <a >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
              </a>
            </form>
          </div>
        </div>
    </div>
    <div class="designed">
        <h3>Designed by <i class="fa-brands fa-reddit-alien"></i><span> ZENYCERO</span></h3>
    </div>
  </body>
  
  
  
  
    
  
