*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*  CONTACTO  */

.contact{
    margin-left: 4rem;
}

.contact h2{
    text-decoration: underline #e07590;
}

.contacto{
    border-bottom: 1px solid #000;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
@media (max-width: 800px) {
    .contacto{
        flex-direction: column;
    }
    .fila1 input{
        min-width: 485px;
    }
}

.datos{
    max-width: 50%;
    text-align: center;
    margin-left: 10rem;
}

.direccion{
    margin-top: 1rem;
}

.datos h3{
    margin-bottom: 1rem;
}

.datos ul{
    list-style: none;
    font-size: 16px;
}

.datosNumeros i{
    color: #e07590;
}

.datos i{
    display: flex;
    justify-content: center;
}

/*  FORMULARIO  */

.formulario{
    max-width: 50%;
    margin-left: 10rem;
    margin-bottom: 1.5rem;
}

.fila1 input{
    border: 1px solid #000;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 25px;
    padding: 6.5px 15px;
    margin-left: 2rem;
    margin-bottom: 1rem;
    max-width: 485px;
}

.fila2 input{
    border: 1px solid #000;
    font-size: 1rem;
    line-height: 25px;
    padding: 6.5px 15px;
    margin-left: 2rem;
    margin-bottom: 1rem;
    min-width: 485px;
}

.fila3 textarea{
    border: 1px solid #000;
    margin-left: 2rem;
    font-size: 1rem;
    line-height: 25px;
    padding: 6.5px 15px;
    min-width: 485px;
    height: 100px;
}

.botonContacto{
    color: #fff;
    border: none;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    background-color: #e07590;
    text-align: center;
    padding: 6.5px 0;
    min-width: 485px;
}

.botonContacto a{
    font-size: 1.5rem;
    line-height: 25px;
    text-decoration: none;
    color: #000;
}

/* MAPA */
.mapa{
    width: 100%;
    margin-bottom: 1.5rem;
}

