<body>
    <div class="box">
        <div class="welcome">
            <h1>REGISTRATE ES GRATIS!</h1>
        </div>
        <div class="login-box">
            <form [formGroup]="passYTel">
                <div class="user-box">
                    <input type="text" name="" required="" formArrayName="fullName">
                    <label>Full Name</label>
                </div>
                <div class="user-box">
                    <input type="email" name="" required="" formArrayName="email">
                    <label>Email</label>
                </div>
                <div class="user-box">
                    <input type="password" name="" required="" formArrayName="password">
                    <label>Password</label>
                </div>
                <div class="user-box">
                    <input type="number" name="" required="" formControlName="telefono">
                    <label>Telefono</label>
                </div>
                <div class="user-box">
                    <input type="text" name="" required="" formArrayName="direccion">
                    <label>Direccion</label>
                </div>
              
              <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Registrate
              </a>
            </form>
          </div>
    </div>
    <div class="designed">
        <h3>Designed by <i class="fa-brands fa-reddit-alien"></i><span> ZENYCERO</span></h3>
    </div>
    <script src="https://kit.fontawesome.com/d92ebcb0c7.js" crossorigin="anonymous"></script>
</body>
  
  
  
  
    
  

